<app-registro></app-registro>
<div>
    <h3>Registrate</h3>
    <label id="" for="" class="">Nombre:</label>
    <input id="i1" type="text" class="nota form-control">
    <label for="" class="">Email:</label>
    <input id="i2" type="text" class="nota form-control">
    <label for="" class="">Password:</label>
    <input id="i3" type="password" class="nota form-control">
    <label for="" class=""> confirmación password:</label>
    <input id="i4" type="password" class="nota form-control">
    <br>
    <a id="registrarse" type="button" href="actividad1.html" class="btn btn-outline-primary">Registrarse</a>
    <button id="limpiar" type="button" class="btn btn-outline-secondary">Limpiar campos</button>
</div>