<div class="prod">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">barros luco</h5>
                    <p class="card-text">hamburguesa de carne y queso</p>
                    <a href="/barrosluco.html" class="btn btn-primary">ver hamburguesa</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Italiano</h5>
                    <p class="card-text">hamburguesa con carne tomate palta y mayo </p>
                    <a href="italiano.html" class="btn btn-primary">ver hamburguesa</a>
                </div>
            </div>
        </div>
    </div>
</div>