<div class="header">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">inicio</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="../paginas/barrosluco.html" role="button" aria-expanded="false">productos</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../paginas/barrosluco.html">barros luco</a></li>
                <li><a class="dropdown-item" href="paginas/italiano.html">italiano</a></li>
                <li><a class="dropdown-item" href="/paginas/chacarero.html">chacarero</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="registro.html">registro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="login.html">Login</a>
        </li>
    </ul>

</div>